<body class="fundoPombo">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 neon-shadow-lg" style="width: 20rem; box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);">
      <div class="position-absolute top-0 start-0 ms-3 mt-3">
        <a href="javascript:history.back()" class="text-black" style="font-size: 24px;">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
      </div>
      <div class="container d-flex justify-content-center align-items-center">
        <img src="assets/images/Pru.png" alt="Image do sistema Pru" class="rounded-circle mb-4 pombo" style="width: 80px; height: 80px; object-fit: cover;">
      </div>
      <h3 class="text-center mb-4">Cadastre-se</h3>
      <form #ngForm="ngForm">
        <div class="form-group mb-3">
          <label for="name" class="form-label"><strong>Nome:</strong></label>
          <input
          [ngClass]="(!usuario.nome && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
          [(ngModel)]="usuario.nome" type="text" class="form-control border-dark" name="name" placeholder="Digite seu nome" required/>
        </div>
        <div class="form-group mb-3">
          <label for="email" class="form-label"><strong>Email:</strong></label>
          <input
          [ngClass]="(!usuario.email && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
          [(ngModel)]="usuario.email" type="email" class="form-control border-dark" name="email" placeholder="Digite seu email" required/>
        </div>
        <div class="form-group mb-3">
          <label for="cpf" class="form-label"><strong>CPF:</strong></label>
          <input
          [ngClass]="(!usuario.cpf && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
          [(ngModel)]="usuario.cpf" type="text" class="form-control border-dark" name="cpf" placeholder="Digite seu cpf" required/>
        </div>
        <div class="form-group mb-3">
          <label for="dob" class="form-label"><strong>Senha:</strong></label>
          <input
          [ngClass]="(!usuario.senha && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
          [(ngModel)]="usuario.senha" type="password" class="form-control border-dark" name="password" placeholder="Digite sua senha" required/>
        </div>
        <div class="d-flex justify-content-center"> 
          <button type="submit" class="btn btn-warning btn-sm rounded-pill px-4 shadow" (click)="cadastrar()" [disabled]="!ngForm.valid">
            <strong>Cadastrar</strong>
          </button>
        </div>
      </form>
      <div class="text-center mt-3">
        <p>Já possui uma conta? <a href="" class="text-primary">Faça login</a></p>
      </div>
    </div>
  </div>
</body>

