<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" (click)="telaHome()" style="width: 600px">
        <img src="assets/images/Pru.png" alt="Logo" width="60" height="60" class="rounded-circle me-2">
        <span class="fw-bold text-dark">Pruu</span>
      </a>
      <div class="position-relative mx-auto">
        <div class="input-group">
          <input type="text" id="text" class="form-control border-1 border-dark" style="max-width: 600px; margin: 0 auto;"  name="text"  placeholder="Pesquisar Usuário" [(ngModel)]="seletor.nomeUsuario"/>
          <button class="btn btn-warning  dropdown-toggle border-1 border-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong class="text-dark">Filtros</strong>
          </button>
          <ul class="dropdown-menu p-3" style="min-width: 300px;">
            <li class="mb-2">
              <label for="startDate" class="form-label"><strong>Data Inicial</strong></label>
              <input type="date" id="date" class="form-control border-1 border-dark" name="date" [(ngModel)]="seletor.dataInicioDenuncia" > 
            </li>
            <li class="mb-2">
              <label for="endDate" class="form-label"><strong>Data Final</strong></label>
              <input type="date" id="date" class="form-control border-1 border-dark" name="date" [(ngModel)]="seletor.dataFimDenuncia"> 
            </li>
            <li class="mb-2">
              <label for="textFilter" class="form-label"><strong>Motivo:</strong></label>
              <input type="text" id="text" class="form-control border-1 border-dark" name="text" placeholder="Pesquisar Assunto" [(ngModel)]="seletor.motivo"/> 
            </li>
            <li class="d-flex justify-content-between mt-1">
              <button type="button" class="btn btn-primary ms-2" name="btnLimpar" ><!--(click)="limpar()"-->
                <i class="bi bi-trash"></i><strong>Limpar</strong>
              </button>
              <button type="button" class="btn btn-warning" name="btnPesquisar" (click)="pesquisar()"><!--(click)="pesquisar()"-->
                <i class="bi bi-search"></i><strong>Pesquisar</strong>
              </button>
            </li>
          </ul>
        </div>
      </div>

      <a class="navbar-brand d-flex align-items-center justify-content-end" (click)="telaPerfil()" style="width: 600px;">
        <span class="fw-bold text-dark me-2">
          {{usuarioAutenticado?.nome}}
        </span>

        <img src="assets/images/Pru.png" alt="Perfil do Usuário" width="60" height="60" class="rounded-circle">
      </a>
    </div>
  </nav>
  <body>

   <div class="d-flex justify-content-center mt-5 pt-6" >
    <div class="container pt-3">
        <div class="row justify-content-center pt-3" *ngFor="let denuncia of denuncias; trackBy: trackPruu" >
          <div class="col-12 col-sm-6 col-md-4 pt-4">
            <div class="card shadow-lg border-light p-3">
              <div class="card-body" *ngIf="pruusMap.get(denuncia.pruuId) as pruu">
                <p class="mb-2">
                  <strong>Motivo:</strong> <span>{{denuncia.motivo}}</span>
                </p>
                <p class="mb-2">
                  <strong>Data:</strong> <span>{{denuncia.dataHoraDenuncia}}</span>
                </p>
                <p class="mb-2">
                  <strong>Usuário Denunciado:</strong> <span>caleb</span>
                </p>
                <p class="mb-2">
                    <strong>Usuário Denunciante:</strong> <span>caleb</span>
                  </p>
                <p class="mb-2">
                  <strong>Situação:</strong> <span>{{denuncia.situacao}}</span>
                </p>
                <p class="mb-2">
                    <strong>Pruu Denunciado:</strong>
                </p>
                <p class="mb-2">
                    <strong>Texto:</strong>

                </p>
                {{pruu.texto}}
                <img src="/assets/images/Pru.png" class="card-img-top rounded" alt="">
                <div class="d-flex justify-content-between align-items-center pt-3">
                    <button class="btn btn-warning ms-auto" (click)="gerenciarDecunia()">
                      <i class="bi bi-eye"></i><strong>Detalhes</strong>
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>

      <br>
      <nav class="row bg-white py-3 rounded-3 justify-content-center pt-3" style="max-width: 600px; margin: 0 auto;">
        <div class="col-md-4 mb-3 mb-md-0" style="width: 424px;">
          <label for="quantidadeRegistros" class="form-label"><strong>Total de denuncias por página:</strong></label>
          <div class="d-flex">
            <select class="form-select border-1 border-dark" [(ngModel)]="seletor.limite" (change)="atualizarPaginacao()">
              <option value="3">3</option>
              <option value="6">6</option>
              <option value="20">20</option>
            </select>
             <button [disabled]="seletor.pagina == 1" class="btn btn-warning ms-2" (click)="voltarPagina()"><strong>Anterior</strong></button>
            <button [disabled]="seletor.pagina == totalPaginas" class="btn btn-warning ms-2" (click)="avancarPagina()"><strong>Próxima</strong></button>
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-center pt-2">
          <ul class="pagination justify-content-center mb-0 w-100">
            <li class="page-item " *ngFor="let indice of criarArrayPaginas()" (click)="irParaPagina(indice)">
              <button class="page-link text-dark border-1 border-warning">
              <strong>{{indice}}</strong></button>
            </li>
          </ul>
        </div>
      </nav>
      <br>

      </div>
    </div>
  </body>
