<body>  
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/images/Pru.png" alt="Logo" width="60" height="60" class="rounded-circle me-2">
        <span class="fw-bold text-dark">Pruu</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Início</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand d-flex align-items-center" href="#">
        <span class="fw-bold text-dark">Perfil Usuário</span>
        <img src="assets/images/Pru.png" alt="Logo Perfil Usuário" width="60" height="60" class="rounded-circle ms-2">
      </a>
    </div>
  </nav>

   <div class="d-flex justify-content-center mt-5 pt-6" > <!-- *ngFor="let pruu of pruus; trackBy: trackPruu" -->
    <div class="container pt-3">

      <div class="d-flex justify-content-center align-items-center pt-5">
        <div class="rounded shadow-sm bg-white text-center py-3 w-40 mb-4">
          <p class="text-wrap p-3">O pombo todo mundo já viu, e o <strong>Pruu</strong> vai compartilhar quando?</p>
          <button class="btn btn-warning text-dark fw-bold rounded-pill px-4 py-2 shadow-sm">
            <a href="/pru">pru</a>🕊️ Compartilhar Agora 🕊️
          </button>
        </div>
      </div>
      

      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card shadow-lg border-light p-3">
            <div class="d-flex align-items-center ">
              <img src="assets/images/Pru.png" alt="Imagem de Perfil" width="40" height="40" class="rounded-circle me-3">
              <div>
                <span class="fw-bold d-block">Teste</span> <!--{{ pruu.usuario.nome }} -->
                <small class="text-muted d-block">13/03/2024</small> <!-- {{ pruu.dataHoraCriacao | date:'dd/MM/yyyy' }} -->
              </div>
            </div>
            <div class="card-body">
              <p class="card-text mt-2">É a tropa do pombo</p> <!-- {{ pruu.texto }} -->
            </div>
            <img src="assets/images/Pru.png" class="card-img-top rounded" alt="Imagem do post">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

